<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.6;
      background-color: #f4f4f4;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 1rem;
      text-align: center;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
      padding: 3rem 2rem;
    }

    form {
      background-color: #fff;
      border-radius: 10px;
      padding: 2rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    input[type='text'],
    input[type='number'],
    select {
      width: 100%;
      padding: 0.75rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .btn {
      display: inline-block;
      padding: 0.75rem 1rem;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn:hover {
      background-color: #444;
    }

    .btn-block {
      display: block;
      width: 100%;
    }

    #rzp-button1,
    #downloadexpense {
      margin-top: 1.5rem;
    }

    #print {
      margin-top: 2rem;
      list-style: none;
    }

    #print li {
      padding: 1rem;
      background-color: #f4f4f4;
      border-radius: 5px;
      margin-bottom: 1rem;
    }

    #leaderBoard {
      text-align: center;
      margin-top: 2rem;
      list-style: none;
    }

    #leaderBoard li {
      padding: 1rem;
      background-color: #f4f4f4;
      border-radius: 5px;
      margin-bottom: 1rem;
    }

    #massage {
      margin-top: 2rem;
      color: #333;
      font-size: 1.2rem;
    }
  </style>
</head>

<body>
  <header>
    <h1>Expense Tracker</h1>
  </header>

  <div class="container">
    <form id="my-form" action="/expense" method="POST">
      <h1>Add Expense</h1>
      <div class="msg"></div>
      <div>
        <label for="expense">Expense Amount:</label>
        <input type="number" id="expense" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" required>
      </div>
      <div>
        <label for="category">Category:</label>
        <select name="category" id="category" required>
          <option value="">Select a category</option>
          <option value="Food">Food</option>
          <option value="Fuel">Fuel</option>
          <option value="Electricity">Electricity</option>
          <option value="Movies">Movies</option>
          <option value="Vacation">Vacation</option>
          <option value="Electronics item">Electronics Item</option>
          <option value="Party">Party</option>
          <option value="Households">Households</option>
          <option value="Others">Others</option>
        </select>
      </div>
      <input class="btn btn-block" type="submit" value="Track Expense">
    </form>
  </div>

  <div class="container">
    <button id="rzp-button1" class="btn btn-block">Buy Premium</button>
    <button onclick="download()" id="downloadexpense" class="btn btn-block">Download File</button>
    <div id='massage'></div>
    <ul id="print"></ul>
    <ul id="leaderBoard"></ul><br>
    <div class="pagination"></div>
    <label for="items-per-page" class="form-label" style="font-weight: 600;">Items Per Page:</label>
    <input type="number" id="items-per-page" name="items-per-page" class="form-control" value="3" style="width: 5%;">
  </div>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"></script> -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"></script>

  <script>
    let submit = document.addEventListener('submit', updateForm);
    let itemInput = document.querySelector("#print");
    let pagination = document.querySelector(".pagination")
    let itemsPerPageInput = document.querySelector('#items-per-page')
    function updateForm(event) {
      event.preventDefault();
      let expense = document.getElementById('expense').value;
      let description = document.getElementById('description').value;
      let category = document.getElementById('category').value;
      let obj = {
        expense: expense,
        description: description,
        category: category
      }
      const token = localStorage.getItem('token')
      axios.post("http://localhost:9000/expense", obj, { headers: { "Authorization": token } })
        .then((response) => {
          show(response.data.data)

        })
        .catch((err) => {
          console.log(err);
        })

      // localStorage.setItem(mail,JSON.stringify(obj));
      // show(obj);

    }
    function parseJwt(token) {
      var base64Url = token.split('.')[1];
      var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function (c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));

      return JSON.parse(jsonPayload);
    }




    function premiumUserMessage() {
      document.getElementById('rzp-button1').style.visibility = 'hidden';
      document.getElementById('massage').innerHTML = "welcome you are a premium user now"
    }



    window.addEventListener('DOMContentLoaded', () => {
      const token = localStorage.getItem('token')
      const decodeToken = parseJwt(token);
      console.log(decodeToken);
      const ispremiumuser = decodeToken.ispremiumuser;
      if (ispremiumuser) {
        premiumUserMessage();
        showLeaderBoard();
      }
      const page = 1
      const Items_Per_Page = localStorage.getItem('itemsPerPage') || 2;

      axios
        .get(`http://localhost:9000/get-expenses/${page}?limit=${Items_Per_Page}`, {
          headers: { "Authorization": token },
        })
        .then((response) => {
          const expenses = response.data.expenses;

          for (let i = 0; i < expenses.length; i++) {
            show(expenses[i]);
          }
          showPagination(response.data.info)
        })
        .catch((error) => {
          document.body.innerHTML =
            document.body.innerHTML + "<h3> Something Went Wrong </h3>";
          console.log(error);
        });
    //   axios.get("http://localhost:9000/expense", { headers: { "Authorization": token } })
    //   .then((response) => {
    //      response.data.forEach((expense) => {
    //       show(expense);

    //     });
    //   })
    //   .catch((error) => {
    //     console.error(error);

    //   });

    })


    function show(obj) {
      let updateData = document.getElementById('print');
      let showData = document.createElement('li');
      showData.textContent = obj.expense + '-------' + obj.description + '--------' + obj.category

      let btn = document.createElement('button');
      btn.textContent = 'delete button';
      btn.onclick = () => {
        const token = localStorage.getItem('token')
        axios.delete(`http://localhost:9000/expense/${obj.id}`, { headers: { "Authorization": token } })
          .then(() => {
            updateData.removeChild(showData);


          })
          .catch(() => {
            updateData.removeChild(showData);

          })

      }

      let editBtn = document.createElement('button');
      editBtn.textContent = 'edit button';
      editBtn.onclick = () => {
        // localStorage.removeItem(obj.email);

        document.getElementById('expense').value = obj.expense;
        document.getElementById('description').value = obj.description;
        document.getElementById('category').value = obj.category;

        axios.put(`http://localhost:9000/expense/${obj.id}`, obj)
          .then(() => {
            updateData.removeChild(showData);
          })
          .catch(() => {
            updateData.removeChild(showData);
          })


      }



      updateData.appendChild(showData);
      showData.appendChild(btn);
      showData.appendChild(editBtn);



    }
    function download() {
      axios.get('http://localhost:3000/download', { headers: { "Authorization": token } })
        .then((response) => {
          if (response.status === 201) {
            //the bcakend is essentially sending a download link
            //  which if we open in browser, the file would download
            var a = document.createElement("a");
            a.href = response.data.fileUrl;
            a.download = 'myexpense.csv';
            a.click();
          } else {
            throw new Error(response.data.message)
          }

        })
        .catch((err) => {
          showError(err)
        });
    }












    let razorbtn = document.getElementById('rzp-button1')
    razorbtn.onclick = async function (e) {
      e.preventDefault();

      const token = localStorage.getItem('token');
      console.log(token);

      let rzpl = null; // Declare rzpl variable with a default value

      try {
        const response = await axios.get('http://localhost:9000/purchase', { headers: { Authorization: token } });
        const options = {
          "key": response.data.key_id,
          "order_id": response.data.order.id,
          "handler": async function (response) {
            try {
              const res = await axios.post('http://localhost:9000/purchase', {
                order_id: options.order_id,
                payment_id: response.razorpay_payment_id
              }, { headers: { Authorization: token } });

              console.log(response.razorpay_payment_id);
              alert('You are now a premium member');
              premiumUserMessage();
              showLeaderBoard();
              localStorage.setItem("token", res.data.token);
              //console.log('you are a premium member');
            } catch (error) {
              console.error(error);
              alert('An error occurred while processing your payment.');

            }
          }
        };

        rzpl = new Razorpay(options); // Assign the value of rzpl
        rzpl.open();
      } catch (error) {
        console.error(error);
        alert('An error occurred while fetching the purchase details.');
      }

      if (rzpl) {
        rzpl.on('payment.failed', function (response) {
          console.log(response);
          alert('Something went wrong with the payment.');
        });
      }
    };



    function showLeaderBoard() {
      const inputElement = document.createElement('input');
      inputElement.type = 'button'
      inputElement.value = 'Show LeaderBoard'

      inputElement.onclick = async () => {
        const token = localStorage.getItem('token');
        const userLeaderBoardArray = await axios.get('http://localhost:9000/premium', { headers: { Authorization: token } })
        console.log(userLeaderBoardArray);
        const LeaderBoardEle = document.getElementById('leaderBoard');
        userLeaderBoardArray.data.forEach((userDeatils) => {
          LeaderBoardEle.innerHTML += `<li>Name - ${userDeatils.name} Total Expense - ${userDeatils.total_cost || 0} </li>`
        })

      }
      document.getElementById('massage').appendChild(inputElement)
    }



    function showPagination({ currentPage, hasNextPage, hasPreviousPage, nextPage, previousPage, lastPage }) {
      pagination.innerHTML = '';

      if (hasPreviousPage) {
        const button1 = document.createElement('button');
        button1.className = "btn btn-dark"
        button1.style.marginRight = '0.2rem';
        button1.innerHTML = previousPage;
        button1.addEventListener('click', () => getPageExpenses(previousPage))
        pagination.appendChild(button1)
      }

      const button2 = document.createElement('button');
      button2.classList.add('active')
      button2.className = "btn btn-dark"
      button2.style.marginRight = '0.2rem';
      button2.innerHTML = currentPage;
      button2.addEventListener('click', () => getPageExpenses(currentPage))
      pagination.appendChild(button2)

      if (hasNextPage) {
        const button3 = document.createElement('button');
        button3.innerHTML = nextPage;
        button3.style.marginLeft = '0.2rem';
        button3.style.marginRight = '0.2rem';
        button3.className = "btn btn-dark"
        button3.addEventListener('click', () => getPageExpenses(nextPage))
        pagination.appendChild(button3)
      }

      if (currentPage != lastPage && nextPage != lastPage && lastPage != 0) {
        const button3 = document.createElement('button');
        button3.className = "btn btn-dark"
        button3.style.marginLeft = '0.2rem';
        button3.style.marginRight = '0.2rem';
        button3.innerHTML = lastPage;
        button3.addEventListener('click', () => getPageExpenses(lastPage))
        pagination.appendChild(button3)
      }
    }

    function getPageExpenses(page) {


      const token = localStorage.getItem('token')
      const Items_Per_Page = parseInt(itemsPerPageInput.value) || 2
      localStorage.setItem('itemsPerPage', Items_Per_Page)
      axios
        .get(`http://localhost:9000/get-expenses/${page}?limit=${Items_Per_Page}`, {
          headers: { Authorization: token },
        })
        .then((response) => {
        clearItems()
          const expenses = response.data.expenses;

          for (let i = 0; i < expenses.length; i++) {
            show(expenses[i]);
          }
          const pageInfo = {
            currentPage: response.data.info.currentPage,
            hasNextPage: response.data.info.hasNextPage,
            hasPreviousPage: response.data.info.hasPreviousPage,
            nextPage: response.data.info.nextPage,
            previousPage: response.data.info.currentPage - 1, // set the correct previousPage value
            lastPage: response.data.info.lastPage
          };

          showPagination(pageInfo);
        })
        .catch((error) => {
          document.body.innerHTML =
            document.body.innerHTML + "<h3> Something Went Wrong </h3>";
          console.log(error);
        });
    }

    function clearItems() {
      itemInput.innerHTML = '';
    }
    function loadItemsPerPage() {
      const itemsPerPage = localStorage.getItem('itemsPerPage');
      if (itemsPerPage) {
        itemsPerPageInput.value = itemsPerPage;
      }
    }


  </script>


</body>

</html>